<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
</head>
<body>
    <h1>Testing Editing</h1>
    <form action="/save" method="post">
        <input type="hidden" name="" value="<%= sendingOriginalPostId %>">
        <label for="editing">Edit Your Post Below</label>
        <textarea name="editing" rows="4" cols="50"><%= editTextEjs %></textarea>
        <input type="submit" value="Save Post">
    </form>
    <p>This Post got his original ID: <%= sendingOriginalPostId %></p>
</body>
</html>