<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">

  <title>Andrew's Blogs</title>
</head>
  
<body>
  <header>
    <div class="container header-container">
      <div class="logo-container">
        <div class="logo">
          <div class="logo-part logo-short-arrow"></div>
          <div class="logo-part logo-long-arrow"></div>
          <div class="logo-part logo-base"></div>
          <div class="logo-part logo-short-arrow"></div>
        </div>
      </div>
      <div class="menu-container">
        <form action="/add-blog" method="post">
            <input class="menu-item" type="submit" value="Home">
        </form>
        <form action="/blog" method="post">
          <input class="menu-item" type="submit" value="Blog">
        </form>
        <a class="button primary-button" href="mailto:stavnichenkoa2000@gmail.com">Reach me today</a>
      </div>
      
    </div>  
  </header>



    

  