<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">

  <title>Andrew's Blogs</title>
</head>
  
<body>
  <header>
    <div class="container header-container">
      <div class="logo-container">
        <div class="logo">
          <div class="logo-part logo-short-arrow"></div>
          <div class="logo-part logo-long-arrow"></div>
          <div class="logo-part logo-base"></div>
          <div class="logo-part logo-short-arrow"></div>
        </div>
      </div>
      <div class="menu-container">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Blog</a>
      </div>
      
    </div>  
  </header>

  <div class="wrapper">
    <section class="hero">
      <div class="hero-text">
        <h1>Your next backend star</h1>
      </div>

      <div class="hero-cta">
        <p>button or short text here</p>
      </div>

      <div class="hero-description">
        <p>A bit more text about me and how I can be useful to those who will hire me</p>
      </div>

      <div class="hero-image">
        <img src="/media/my photo.png">
      </div>

    </section>
    
  </div>

    

  